@import "tailwindcss";

:root {
  font-family: "Kanit", sans-serif;
  --custom-font: "Kanit", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
}

.ant-btn,
.ant-picker,
.ant-typography,
.ant-select,
.ant-input,
.ant-table,
.ant-form,
.ant-menu,
.ant-layout,
.ant-modal {
  font-family: var(--custom-font) !important;
}

.custom-table .ant-table-tbody > tr > td {
  background-color: #fafafa;
}

body {
  font-family: "Kanit", sans-serif;
}

h1 {
  font-size: 24px;
  line-height: 1.1;
}

h2 {
  font-size: 20px;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
}

Button {
  border-color: #006a71;
}
